<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In BarGains</title>
    <link rel="stylesheet" href="/static/styles/main.css">
</head>

<body>
    <div class="log-form">
        <h2>Login to your account</h2>
        <form>
            <input type="text" value="4164358512" title="username" class='user_info' placeholder="Username or Phone Number" />
            <button type="button" class="btn login">Login</button>
            <a class="forgot" href="{{ url_for('sign') }}">Create An Account</a>
        </form>
    </div>
</body>
<script src="/static/script/index.js"></script>
</html>