
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/main.css">
    <title>Sign Up For BarGains</title>
</head>
<body>
    <div class="log-form">
        <h2>Sign Up For An Account</h2>
        <form>
            <input type="tel" value="4164358512" title="phonenumber" class='user_info' placeholder="Create a Phone Number" />
            <input type="text" value="Username" title="username" class='user_info' placeholder="Create a Username" />
          <button type="button" class="btn signup">Sign In</button>
          <a class="forgot" href="{{ url_for('home') }}">Already Have an Account?</a>
        </form>
      </div>
    </body>
    <script src="/static/script/index.js"></script>
</html>
